<div class="container">
  <h1>EduGuru</h1>
  <h2>Login</h2>
  <form (ngSubmit)="userLogin()">
    <div class="form-group">
      <label for="exampleInputUsername">Username</label>
      <input
        type="text"
        class="form-control"
        id="userId"
        aria-describedby="usernameHelp"
        placeholder="Enter username"
        [(ngModel)]="user.userId"
        name="userId"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <hr />
  <div class="text-center">
    <p>Don't have an account yet?</p>
    <button class="btn btn-link" routerLink="/register">Register Here</button>
  </div>
</div>
